body{
    margin: 0;
    height: 100vh;
    display: flex;
}
.NAV{
    background-color: white;
    width: 24%;
    height: 100%;
    border-right: #F2D335 solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.NAV .sair{
    width: 100%;
    display: flex;
    margin-left: 120px;
}
.NAV .sair button{
    width: 40px;
    height: 40px;
    color: white;
    background-color: #55A6D9;
    border: #55A6D9 solid 2px;
    font-size: 23px;
    border-radius: 50%;
}
.NAV .user{
    color: #D91E2E;
    width: 50%;
    height: 70px;
    border: #D91E2E solid 2px;
    text-align: center;
    border-radius: 20px;
    font-family: "Lilita One";
}
.NAV b{
    color: #94E1F2;
    font-family: "Lilita One";
    font-size: 20px;
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: #55A6D9; 
}
.NAV a{
    color: #55A6D9;
    font-family: "Lilita One";
    font-size: 20px;
    text-decoration: none;
}
.NAV img{
    width: 50%;
    height: 160px;
}

.Conteudo {
    width: 76%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Conteudo::-webkit-scrollbar{
    width: 15px;
    background-color: #94E1F2;
    border-left: #55A6D9 dashed 2px;
}
.Conteudo::-webkit-scrollbar-thumb{
    background-color: #55A6D9;
    border: #94E1F2 dashed 2px;
    border-radius: 20px;
    margin: 10px;
}
.Conteudo h1{
    color: #D91E2E;
    font-family: "Lilita One" ;
}
.Conteudo .container{
    width: 80%;
}
.Conteudo .container h1{
    font-size: 20px;
    color: #55A6D9;
}
.Conteudo .publi{
    background-color: white;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    border: #F2D335 dashed 3px;
    border-radius: 20px;
    font-family: "Shadows Into Light Two";
}
.Conteudo .publi input{
    border: #55A6D9 dashed 2px;
    width: 100%;
    font-family:"Poppins";
    outline: none;
}
.Conteudo .publi textarea{
    border: #55A6D9 dashed 2px;
    width: 100%;
    height: 60px;
    font-family:"Poppins";
    outline: none;
}
.Conteudo .publi button{
    height: 40px;
    width: 70px;
    background-color: #55A6D9;
    color: white;
    border: #94E1F2 solid 2px;
    border-radius: 20px;
}
.Conteudo .traço{
    width: 70%;
    height: 20px;
    border-bottom: #55A6D9 dashed 3px;
    margin-top: 30px;
}

.Conteudo .feed-container{
    margin: 30px;
    background-color: white;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    border: #F2D335 dashed 3px;
    border-radius: 20px;
    font-family: "Shadows Into Light Two";
}
.Conteudo .feed-container b{
    font-family: "Poppins";
}
.Conteudo .feed-container .publicacao{
    border-bottom: #55A6D9 solid 2px;
}
.Conteudo .feed-container .publicacao-btn-editar {
    cursor: pointer;
    font-family:"Lilita One";
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 8px;
    color: white;
    background-color: #D91E2E;
    width: 80px;
    border:#b81623 solid 2px;
}

.estrelas{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.estrelas div{
    height: 90px;
    width: 90px;
    background-image: url(estrela-1.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.estrelas div:hover{
    height: 90px;
    width: 90px;
    background-image: url(estrela-2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    border: #55A6D9 dashed 2px;
    border-radius: 50%;
}
.Conteudo .grafico{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
.Conteudo .grafico h1{
    font-family: "Shadows Into Light Two" ;
    color: black;
}
.Conteudo .grafico .grafico_in{
    width: 60%;
    height: 300px;
    padding: 20px;
    
}
.Conteudo .av h1{
    font-family: "Shadows Into Light Two" ;
    color: black;
}

.Conteudo .grafico2{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border: #F2D335 dashed 3px;
    border-radius: 20px;
}
.Conteudo .grafico2 h1{
    font-family: "Shadows Into Light Two" ;
    color: black;
}
.Conteudo .grafico2 .grafico_in{
    width: 25%;
    padding: 20px;
    
}

.Agradecimento{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.Agradecimento h3{
    font-family:"Lilita One" ;
    color: #55A6D9;
    font-size: 30px;
}

.Conteudo .extras{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Conteudo .extras button{
    width: 20%;
    margin: 20px;
    height: 50px;
    color: #55A6D9;
    border: #55A6D9 dashed 2px;
    background-color: white;
    font-family: "Lilita One";
    font-size: 20px;
    cursor: pointer;
}
.Conteudo .extras button:hover{
    width: 20%;
    height: 50px;
    color: white;
    border: white dashed 2px;
    background-color: #55A6D9;
    font-family: "Lilita One";
    font-size: 20px;
    cursor: pointer;
}

.Conteudo .extras h2{
    font-family: "Lilita One";
    color: #55A6D9;
}
.Conteudo .extras .simulação{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: "Shadows Into Light Two" ;
    text-align: center;
}

.Conteudo .extras .simulação input{
    width: 200px;
    margin: 20px;
    height: 20px;

    border: #D91E2E dashed 2px;
    border-radius: 20px;
}

#result{
    width: 400px;
    margin: 40px ;
    height: 300px;
    border: #D91E2E dashed 2px;
    overflow: hidden;
    overflow-y: scroll;

    padding: 10px;
    text-align: center;
}

.Conteudo .extras .simulação .perguntas{
    width: 80%;
    height: auto;
    border: #55A6D9 dashed 2px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.Conteudo .extras .simulação .perguntas select{
    margin: 20px;
    width: 80%;
    height: 30px;
    background-color: white;
    border: #94E1F2 solid 2px;
    text-align: center;
    color: #D91E2E;
}
.Conteudo .extras .simulação .perguntas option{
    font-family: "Poppins" ;
    font-size: 12px;
}

#resultado{
    width: 400px;
    margin: 40px ;
    height: 100px;
    border: #D91E2E dashed 2px;

    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}